<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>pizzaluigi web.xml</display-name>

	<context-param>
		<param-name>voornaam</param-name>
		<param-value>Luigi</param-value>
	</context-param>
	<context-param>
		<param-name>familienaam</param-name>
		<param-value>Peperoni</param-value>
	</context-param>
	<context-param>
		<param-name>aantalKinderen</param-name>
		<param-value>7</param-value>
	</context-param>
	<context-param>
		<param-name>gehuwd</param-name>
		<param-value>true</param-value>
	</context-param>

	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

	<filter> <!-- indien @WebFilter in commentaar , bstaat vanaf servlets 3.0 -->
		<filter-name>ServletFilter</filter-name>
		<filter-class>be.vdab.filters.ServletFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ServletFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/JSP/404.jsp</location>
	</error-page>

	<error-page>
		<exception-type>be.vdab.dao.DAOException</exception-type>
		<location>/WEB-INF/JSP/daoexception.jsp</location>
	</error-page>

</web-app>